@media only screen and (max-width: 400px) {
  .gameHeading {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  .gameHeading {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 991px) {
  .gameHeading {
    margin-top: 0;
    font-size: 2.5rem;
  }
}
