@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue"),
    url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
}
@font-face {
  font-family: "Ubuntu Mono";
  src: local("Ubuntu Mono"),
    url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
}
